# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Build outputs
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Flutter/ephemeral/

# Windows/Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
